@import url('https://fonts.googleapis.com/css?family=Maven+Pro|ZCOOL+XiaoWei');

body{
    background-image: url(./AllysonPortfolioImages/PhFQkdl.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;;
}
p{
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    margin: 30px;
    text-align: center;
}

.hL{
    font-family: 'ZCOOL XiaoWei', 'Times New Roman', Times, serif;
    font-size: 2cm;
    text-align: center;
    margin: 20px;
}
h3{
    font-family: 'ZCOOL XiaoWei', 'Times New Roman', Times, serif;
    text-align: center;
}

h4{
    font-family: 'ZCOOL XiaoWei', 'Times New Roman', Times, serif;
    margin: 10px;
}
ul{
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
}
li{
    padding: 5px;
}
img{
    width: 80%;
}
.pad{
    padding: 10 px;
}

#dialog-window {
    float: left;
    margin:50px 10px 10px 10px;
    width: 45%;
    height: 80%;
    border: 1px white solid;
    border-radius: 5px;
  }
  #scrollable-content {
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }

.topnav {
    overflow: hidden;
    background-color: transparent;
    width:100%;
    text-align: center;
    padding: 0px,0px,0px,0px;
    color: white;
    position: fixed;
    top:0;
    font-size: 20px;
}
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
}
.topnav a.active {
    background-color: #1E6870;
    color: white;
}
.topnav a:hover {
    background-color: #1E6870;
    color: white;
}

.main {
    padding: 16px;
    margin-top: 30px;
  }

  .myfooter {
    align-content: center;
     margin-top:150px;
     left: 0;
     bottom:0;
     background-color:transparent;
     color: black;
     text-align: center;
     text-decoration: none;
     font-family: lemon;
} 